/*  RESETS */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --bg-color: #f4efef;
    --shadow: gray;
}

/*  GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/*  COMPONENTS */
.container {
    width: 85%;
    height: 90vh;
    background: #f4efef;
    border: 2px solid var(--shadow);
    border-radius: 20px;
    margin-block: 0rem 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 2px #888;
    transition: width 0.2s linear;
}

/* Large screen design */
@media screen and (min-width:1120px) {
    .container {
        width: 30rem;
        height: 34rem;
    }
}

/* Small screen design */
@media screen and (min-width:1024px) {
    .container {
        width: 36rem;
        height: 28rem;
    }
}

/* Tablet design */
@media screen and (min-width:768px) {
    .container {
        width: 80%;
        height: 95%;
    }
}
/* Mobile design */
/* @media screen and (min-width:480px) {
    .container {
        width: 85%;
        height: 38rem;
    }
} */
